<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <rewrite>
      <rules>
        <clear />
        <rule name="RewriteToPublic" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Rewrite" url="public_html/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>