<div class="template" ng-controller="AboutController">
    <div class="row">
        <div class="col-xs-2 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">About us</div>
                <div class="panel-body">
                    <ul>
                        <li>
                                <p> Bresaola shoulder porchetta kevin pork chop. Shoulder fatback t-bone pork belly andouille tri-tip swine flank.
                                </p>
                        </li>
                        <li>
                                <p> Bacon ribeye porchetta filet mignon turducken. Beef ribs sirloin jowl alcatra chuck landjaeger shankle cupim prosciutto kielbasa. Bresaola shoulder porchetta kevin pork chop. Shoulder fatback t-bone pork belly andouille tri-tip swine flank.
                                </p>
                    
                        </li>
                        <li>
                            <p>Bacon ipsum dolor amet meatloaf tail kielbasa capicola filet mignon.
                             </p>
                        </li>
                     </ul>
                 </div>
            </div>
        </div>
    </div>
</div>
