<div class="template" ng-controller="AboutController">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Christian Oliver</div>
                <div class="panel-body">

                            <img src ="https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10009307_10152772464748110_4801738052294734264_n.jpg?oh=0c8caf405dd3c7c4a7d86cff4cfd41b2&oe=575466D5" class="img-circle" style="height:150px; width:150px;"align="left"></>

                            <div align="left">
                            
                            <p>Hello, my name is Christian, I am an apprentice working at Accenture</p>
                                    
                                <p>My Skills include:</p>
                                <ol style="position: absolute; left: 160px;">
                                    <li>Java</li>
                                    <li>HTML</li>
                                    <li>Javascript</li>
                                    <li>PHP</li>
                                </ol>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            <p>My Dream Job is to became a game designer, my favourite film is <a href="http://webdevproject.azurewebsites.net/#/movie/1954">The Butterfly Effect</a></p> 
                            </div>
                     
                     
                     
                     
                     
                     
                     
                      
                </div>
            </div>
        </div>

     <div class="panel panel-default">
                <div class="panel-heading">Ben Maher</div>
                <div class="panel-body">
                    <img src = "https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/150527_10151099973712066_1985527205_n.jpg?oh=80ad6c3398f76667654721816a9a5dc6&oe=57699791" class= "img-circle" style="height:150px; width:150px;"align="left"></>
                    <p>Hi I am Ben, I am an apprentice who studies at QA</p>
                    
                  </div>
             </div>
        </div>
        </div>
    <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Aneysha Moffatt</div>
                <div class="panel-body">

<img src = "https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10917422_10152526040481408_6272748317356403279_n.jpg?oh=d771d2bbd5cf464c3e7cfdffc9437c3c&oe=57981D69" class= "img-circle" style="height:150px; width:150px;"align="left"></>
<p>Hello My Name is Aneysha I am an apprentice working for Accenture.</p>
            </div>
        </div>
</div>
<div class="panel panel-default">
                <div class="panel-heading">Alexi Thompson</div>
                <div class="panel-body">
                    <img src = "https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-0/p206x206/12360026_10206655226833184_7855861766985672935_n.jpg?oh=5440e45216222844c2afabc86e9b82b9&oe=575FA50E" class= "img-circle" style="height:150px; width:150px;"align="left"></>
                    <p>hi my name is Alexi, I am an Apprentice in Accenture</p>
                    
                </div>
           </div>
      </div>
</div>
</div>
