<div class="template" ng-controller="AboutController">
    <div class="row">
        <div class="col-xs-2 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">About us</div>
                <div class="panel-body">
                    <ul>
                        <li><div class="img-circle">
                            <img src ="https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10009307_10152772464748110_4801738052294734264_n.jpg?oh=0c8caf405dd3c7c4a7d86cff4cfd41b2&oe=575466D5">
                        </div>
                        </li>
                        <li>
                            <p> Bacon ribeye porchetta filet mignon turducken. Beef ribs sirloin jowl alcatra chuck landjaeger shankle cupim prosciutto kielbasa. Bresaola shoulder porchetta kevin pork chop. Shoulder fatback t-bone pork belly andouille tri-tip swine flank.
                            </p>

                        </li>
                        <li>
                            <p>Bacon ipsum dolor amet meatloaf tail kielbasa capicola filet mignon.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
