<div class="template" ng-controller="ContactController">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">About us</div>
                <div class="panel-body">
                    <ul>
                        <li><p>Bacon ipsum dolor amet meatloaf tail kielbasa capicola filet mignon. Flank meatball hamburger, short ribs kevin prosciutto sausage pork salami shoulder bresaola pastrami meatloaf. Andouille doner fatback turkey brisket tri-tip sausage, filet mignon beef pancetta pork belly ribeye salami. Cow short ribs landjaeger, filet mignon porchetta biltong brisket kevin ham. Tongue drumstick short loin ground round biltong beef ribs pork chop kielbasa chicken flank tenderloin corned beef jowl meatball filet mignon. Tenderloin bresaola jerky alcatra strip steak pancetta chuck rump corned beef bacon ribeye porchetta filet mignon turducken. Beef ribs sirloin jowl alcatra chuck landjaeger shankle cupim prosciutto kielbasa. Bresaola shoulder porchetta kevin pork chop. Shoulder fatback t-bone pork belly andouille tri-tip swine flank.</p>
                        </li><li></li><p>Bacon ipsum dolor amet meatloaf tail kielbasa capicola filet mignon. Flank meatball hamburger, short ribs kevin prosciutto sausage pork salami shoulder bresaola pastrami meatloaf. Andouille doner fatback turkey brisket tri-tip sausage, filet mignon beef pancetta pork belly ribeye salami. Cow short ribs landjaeger, filet mignon porchetta biltong brisket kevin ham. Tongue drumstick short loin ground round biltong beef ribs pork chop kielbasa chicken flank tenderloin corned beef jowl meatball filet mignon. Tenderloin bresaola jerky alcatra strip steak pancetta chuck rump corned beef bacon ribeye porchetta filet mignon turducken. Beef ribs sirloin jowl alcatra chuck landjaeger shankle cupim prosciutto kielbasa. Bresaola shoulder porchetta kevin pork chop. Shoulder fatback t-bone pork belly andouille tri-tip swine flank.</p>
                        </li><li><p>Bacon ipsum dolor amet meatloaf tail kielbasa capicola filet mignon. Flank meatball hamburger, short ribs kevin prosciutto sausage pork salami shoulder bresaola pastrami meatloaf. Andouille doner fatback turkey brisket tri-tip sausage, filet mignon beef pancetta pork belly ribeye salami. Cow short ribs landjaeger, filet mignon porchetta biltong brisket kevin ham. Tongue drumstick short loin ground round biltong beef ribs pork chop kielbasa chicken flank tenderloin corned beef jowl meatball filet mignon. Tenderloin bresaola jerky alcatra strip steak pancetta chuck rump corned beef bacon ribeye porchetta filet mignon turducken. Beef ribs sirloin jowl alcatra chuck landjaeger shankle cupim prosciutto kielbasa. Bresaola shoulder porchetta kevin pork chop. Shoulder fatback t-bone pork belly andouille tri-tip swine flank.</p>
                     </li>
                     </ul>
                        <table border="1" style:"width:100%">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td>Ben Maher</td>
                                <td><a href="mailto:benmaher@protonmail.com" target="_top">Ben's Email</a></td>
                            </tr>
                            <tr>
                                <td>Alexander Thompson</td>
                                <td><a href="mailto:alexander.p.thompson@accenture.com" target="_top">Alexi's Email</a></td>
                            </tr>
                            <tr>
                                <td>Aneysha Moffatt</td>
                                <td><a href="mailto:aneysha.t.moffatt@accenture.com" target="_top">Aneysha's Email</a></td>
                            </tr>
                            <tr>
                                <td>Christian Oliver</td>
                                <td><a href="mailtto:christian.oliver@accenture.com" target="_top">Christian's Email</a></td>
                            </tr>
                    </table>
                     
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Find us</div>
                <div class="panel-body">
                    Address: {{contact.address}}<br />
                    County: {{contact.county}}<br/>
                    PostCode: {{contact.postCode}}<br/>
                    Country: {{contact.country}}<br/>
                    Telephone: {{contact.tel}}<br/>
                </div>
            </div>
        </div>
    </div>
</div>
