<div class="template" ng-controller="ContactController">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">About us</div>
                <div class="panel-body">
                    <ul>
                        <li>
                                <p> Bresaola shoulder porchetta kevin pork chop. Shoulder fatback t-bone pork belly andouille tri-tip swine flank.
                                </p>
                        </li>
                        <li>
                                <p> Bacon ribeye porchetta filet mignon turducken. Beef ribs sirloin jowl alcatra chuck landjaeger shankle cupim prosciutto kielbasa. Bresaola shoulder porchetta kevin pork chop. Shoulder fatback t-bone pork belly andouille tri-tip swine flank.
                                </p>
                    
                        </li>
                        <li>
                            <p>Bacon ipsum dolor amet meatloaf tail kielbasa capicola filet mignon.
                             </p>
                        </li>
                     </ul>
                 </div>
            </div>
        </div>
    </div>
</div>

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Email Information</div>
                    <div class="panel-body">
                        <table class="table table-hover" >
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td>Ben Maher</td>
                                <td><a href="mailto:benmaher@protonmail.com" target="_top">Ben Maher's Email</a></td>
                            </tr>
                            <tr>
                                <td>Alexander Thompson</td>
                                <td><a href="mailto:alexander.p.thompson@accenture.com" target="_top">Alexi Thompson's Email</a></td>
                            </tr>
                            <tr>
                                <td>Aneysha Moffatt</td>
                                <td><a href="mailto:aneysha.t.moffatt@accenture.com" target="_top">Aneysha Moffatt's Email</a></td>
                            </tr>
                            <tr>
                                <td>Christian Oliver</td>
                                <td><a href="mailtto:christian.oliver@accenture.com" target="_top">Christian Oliver's Email</a></td>
                            </tr>
                     </table>
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Find us</div>
                <div class="panel-body">
                    Address: {{contact.address}}<br />
                    County: {{contact.county}}<br/>
                    PostCode: {{contact.postCode}}<br/>
                    Country: {{contact.country}}<br/>
                    Telephone: {{contact.tel}}<br/>
                </div>
            </div>
        </div>
    </div>
</div>
