

<!-- img-thumbnail -->
<div class="template" ng-controller="HomeController">

    <!-- Carousel
   ================================================== -->
    <div id="movieCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#movieCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#movieCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div role="presentation" class="item active">
                <img class="first-slide" ng-src="https://rm-content.s3.amazonaws.com/542546cf92dcd5c81792aabc/458478/upload-33fe4c50-a2a7-11e5-a476-933f09f11847.jpg" height="3000" width="1000" alt="Captain America">
                <div class="container">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <div role="presentation" class="item">
                <img class="second-slide" ng-src="http://images.huffingtonpost.com/2015-12-16-1450300622-8118374-Star_Wars.png" height="3000" width="1000" alt="Star Wars">
                <div class="container">
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#movieCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#movieCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
    <br /><br/>
    <div id="new-films" class="col-lg-3">
        <h2>Just Released</h2>
        <div class="thumbnail" ng-repeat="newFilm in newFilms | limitTo: 2" ng-click="NavigateToMovie(newFilm)"> 
            <div class="img" style="background-image: url('http://image.tmdb.org/t/p/w300{{newFilm.poster_path}}');"></div>
            <div class="caption"> 
                <h3>{{newFilm.original_title}}</h3> 
                <p>
                    {{newFilm.overview}}
                </p>
            </div> 
        </div>

    </div>
 <div class="col-lg-9">
        <h2>Popular</h2>
        <div class="col-sm-6 col-md-4" ng-repeat="popularFilm in popularFilms | limitTo:6"> 
            <div class="thumbnail" ng-click="NavigateToMovie(popularFilm)"> 
                <div class="img" style="background-image: url('http://image.tmdb.org/t/p/w300{{popularFilm.poster_path}}');"></div>
                <div class="caption">
                    <h3>{{popularFilm.title}}</h3>
                    <p>
                        {{popularFilm.overview}}
                    </p> 
                </div> 
            </div>
        </div>                        
    </div>
   
</div>