<!-- img-thumbnail -->
<div class="template" ng-controller="HomeController">
                <div class="col-lg-3" style="background: #eee; border-radius: 5px;">
                    <h2>New Films</h2>
                    <div class="thumbnail"> 
                        <div class="img" style="background-image: url('http://ia.media-imdb.com/images/M/MV5BMTU5MTczNTkxNl5BMl5BanBnXkFtZTgwNTM5NDc1MTE@._V1_SX300.jpg');"></div>
                        <div class="caption"> 
                            <h3>Thumbnail label</h3> 
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> <p><a href="#" class="btn btn-primary" role="button">Button</a> 
                                <a href="#" class="btn btn-default" role="button">Button</a></p> 
                        </div> 
                    </div>
                    <div class="thumbnail"> 
                        <div class="img" style="background-image: url('http://ia.media-imdb.com/images/M/MV5BMTU5MTczNTkxNl5BMl5BanBnXkFtZTgwNTM5NDc1MTE@._V1_SX300.jpg');"></div>
                        <div class="caption"> 
                            <h3>Thumbnail label</h3> 
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> <p><a href="#" class="btn btn-primary" role="button">Button</a> 
                                <a href="#" class="btn btn-default" role="button">Button</a></p> 
                        </div> 
                    </div>
                </div>

                <div class="col-lg-9">
                    <h2>Popular Films</h2>
                        <div class="col-sm-6 col-md-4"> 
                            <div class="thumbnail"> 
                                <div class="img" style="background-image: url('http://ia.media-imdb.com/images/M/MV5BMTU5MTczNTkxNl5BMl5BanBnXkFtZTgwNTM5NDc1MTE@._V1_SX300.jpg');"></div>
                                <div class="caption"> 
                                    <h3>Thumbnail label</h3> 
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> <p><a href="#" class="btn btn-primary" role="button">Button</a> 
                                        <a href="#" class="btn btn-default" role="button">Button</a></p> 
                                </div> 
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4"> 
                            <div class="thumbnail"> 
                                <div class="img" style="background-image: url('http://ia.media-imdb.com/images/M/MV5BMTU5MTczNTkxNl5BMl5BanBnXkFtZTgwNTM5NDc1MTE@._V1_SX300.jpg');"></div>
                                <div class="caption"> 
                                    <h3>Thumbnail label</h3> 
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> <p><a href="#" class="btn btn-primary" role="button">Button</a> 
                                        <a href="#" class="btn btn-default" role="button">Button</a></p> 
                                </div> 
                            </div>
                        </div> 
                            <div class="col-sm-6 col-md-4"> 
                                <div class="thumbnail"> 
                                    <div class="img" style="background-image: url('http://ia.media-imdb.com/images/M/MV5BMTU5MTczNTkxNl5BMl5BanBnXkFtZTgwNTM5NDc1MTE@._V1_SX300.jpg');"></div>
                                    <div class="caption"> 
                                        <h3>Thumbnail label</h3> 
                                        <p>Set 97 years after a nuclear war has destroyed civilization, when a spaceship housing humanity's lone survivors sends 100 juvenile delinquents back to Earth in hopes of possibly re-populating the planet.</p> 
                                        <p>
                                            <a href="#" class="btn btn-primary" role="button">Button</a> 
                                            <a href="#" class="btn btn-default" role="button">Button</a>
                                        </p> 
                                    </div> 
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4"> 
                                <div class="thumbnail"> 
                                    <div class="img" style="background-image: url('http://ia.media-imdb.com/images/M/MV5BMTU5MTczNTkxNl5BMl5BanBnXkFtZTgwNTM5NDc1MTE@._V1_SX300.jpg');"></div>
                                    <div class="caption"> 
                                        <h3>Thumbnail label</h3> 
                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> <p><a href="#" class="btn btn-primary" role="button">Button</a> 
                                            <a href="#" class="btn btn-default" role="button">Button</a></p> 
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>