<div ng-if="movie !== null" class="template" ng-controller="MovieController">
    <div class="col-xs-12 col-sm-6">
        <div id="plot" class="panel panel-default">
            <div class="panel-body">
                <h2>{{movie.title}}</h2>
                <h3>{{movie.tagline}}</h3>
                <div ng-if="movie.poster !== 'N/A'">
                    <img ng-src="http://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="{{movie.title}} poster" /><br /><br/>
                </div>
                <div ng-if="movie.overview !== 'N/A'">
                    <p>
                        {{movie.overview}}
                    </p>
                    <p style='text-align: right;'>
                        <a style="cursor:pointer" data-toggle="modal" data-target="#trailersModal">Videos</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Cast</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-condenced">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Character</th>
                                <th>Actor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="search-result" ng-repeat="castMember in movie.credits.cast" ng-click="NavigateToPerson(castMember)" >
                                <td><img ng-if="castMember.profile_path !== null" ng-src="http://image.tmdb.org/t/p/w300{{castMember.profile_path}}" alt="{{castMember.character}}" /></td>
                                <td>{{castMember.character}}</td>
                                <td>{{castMember.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
        <div class="panel panel-default">
            <div class="panel-heading"> Crew </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <a data-target="#crew_collapse" class="btn btn-primary" data-toggle="collapse">See Crew</a>
                    <div id="crew_collapse" class="collapse">
                        <table class="table table-striped table-condensed">
                            <thead>

                            <th>Name</th>
                            <th>Role</th>
                            </thead>
                            <tbody>
                                <tr class="search-result" ng-repeat="crewMember in movie.credits.crew" ng-click="NavigateToPerson(crewMember)" >
                                    <td><img ng-if="crewMember.profile_path !== null" ng-src="http://image.tmdb.org/t/p/w300{{crewMember.profile_path}}" alt="{{crewMember.name}}" /></td>
                                    <td>{{crewMember.name}}</td>
                                    <td>{{crewMember.department}} - {{crewMember.job}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Details</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><b>Title:</b> {{movie.title}}</li> 
                    <li><b>Released:</b> {{movie.release_date}} </li> 
                    <li><b>Runtime:</b> {{movie.runtime}} </li> 
                    <li><b>Genre:</b> {{movie.genresString.toString()}} </li> 
                    <li><b>Language:</b> {{movie.original_language}} </li> 
                    <li><b>Country:</b> {{movie.country}} </li> 
                    <li><b>DVD:</b> {{movie.dvd}} </li>
                    <li><b>Box Office:</b> {{movie.boxOffice}} </li> 
                    <li><b>Production:</b> {{movie.production}} </li> 
                    <li><b>Website:</b> <a href="{{movie.homepage}}" target="_blank">{{movie.title}} website</a></li>
                </ul>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">Similar Movies</div>
            <div class="panel-body">
                <img ng-repeat="similarMovie in movie.similarMovies" ng-src="http://image.tmdb.org/t/p/w300{{similarMovie.poster_path}}" ng-click="NavigateToMovie(similarMovie)" width="100px" height="150px"/>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Reviews</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <th>Author</th>
                    <th>Content</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="review in movie.reviews.results" >
                            <td>{{review.author}}</td>
                            <td>
                                <a data-target="#review_collapse_{{review.id}}" data-toggle="collapse">See Review</a>
                                <div id="review_collapse_{{review.id}}" class="collapse">
                                    {{review.content}}
                                </div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>

<!-- Modal -->
<div class="modal fade" id="trailersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Videos</h4>
            </div>
            <div class="modal-body">
                <iframe class="embed-responsive-item" height="400px" width="100%" ng-if="movie.currentTrailer" ng-src="{{getVideoSrc(movie.currentTrailer)}}" frameborder="0" allowfullscreen></iframe>
                <p>
                    <button ng-repeat="(key, trailer) in movie.trailers" ng-bind="trailer.name" ng-click="movie.currentTrailer = trailer;"></button>
                </p>
            </div>
        </div>
    </div>
</div>
