<div class="template" ng-controller="PersonController">
    <div id="plot" class="panel panel-default">
        <div class="panel-body">
            <h2>{{person.name}}</h2>
            <img ng-src="http://image.tmdb.org/t/p/w300{{person.profile_path}}" alt="{{person.name}}" /><br/>
            <p>{{person.biography}}</p>
        </div>        
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped search-results">
                <thead>
                <th>Film/Show</th>
                <th>Character</th>
                <th>Date</th>
                </thead>
                <tbody>
                    <tr class="search-result" ng-repeat="role in person.credits.cast | orderBy:'release_date'" ng-click="Navigate(role)" >
                        <td><img ng-if="role.poster_path !== null" ng-src="http://image.tmdb.org/t/p/w300{{role.poster_path}}" alt="{{role.character}}" /></td>
                        <td>{{GetName(role)}}</td>
                        <td>{{role.character}}</td>
                        <td>{{role.release_date}}</td>
                    </tr>
                </tbody>
            </table>
         </div>
        </div>
    </div>
</div>
