<div class="template" ng-controller="SearchController">
    <div id="plot" class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped search-results">
                <thead>
                <th width="150"></th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Year</th>
                </thead>
                <tbody>
                    <tr class="search-result" ng-repeat="imdbItem in imdbItems" ng-click="Navigate(imdbItem)" >
                        <td><img ng-if="imdbItem.Poster !== 'N/A'" ng-src="{{imdbItem.Poster}}" alt="{{imdbItem.Title}}" /></td>
                        <td>{{imdbItem.Title}}</td>
                        <td>{{imdbItem.Year}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>