<div class="template" ng-controller="SearchController">
    <div id="plot" class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped search-results">
                <thead>
                <th width="150"></th>
                <th>Title</th>
                <th>Release Date</th>
                </thead>
                <tbody>
                    <tr class="search-result" ng-repeat="searchResult in searchResults" ng-click="Navigate(searchResult)" >
                        <td><img ng-if="searchResult.poster_path !== null  || searchResult.profile_path !== null" ng-src="http://image.tmdb.org/t/p/w300{{Poster(searchResult)}}" alt="{{GetName(searchResult)}}" /></td>
                        <td>{{GetName(searchResult)}}</td>
                        <td>{{Released(searchResult)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>