<div ng-if="movie !== null" class="template" ng-controller="TvController">
    <div class="col-xs-12 col-sm-6">
        <div id="plot" class="panel panel-default">
            <div class="panel-body">
                <h2>{{show.name}}</h2>
                <div ng-if="movie.poster !== 'N/A'">
                    <img ng-src="http://image.tmdb.org/t/p/w300{{show.poster_path}}" alt="{{movie.name}} poster" /><br /><br/>
                </div>
                <div ng-if="show.overview !== 'N/A'">
                    <p>
                        {{show.overview}}
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                <h4>Cast</h4>
                <table class="table table-striped search-results">
                    <thead>
                    <th>character</th>
                    <th>Actor</th>
                    </thead>
                    <tbody>
                        <tr class="search-result" ng-repeat="castMember in show.credits.cast" ng-click="NavigateToPerson(castMember)" >
                            <td><img ng-if="castMember.profile_path !== null" ng-src="http://image.tmdb.org/t/p/w300{{castMember.profile_path}}" alt="{{castMember.character}}" /></td>
                            <td>{{castMember.character}}</td>
                            <td>{{castMember.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading">Crew</div>
             <div class="panel-body">
                <div class="table-responsive">
                    <a data-target="#crew_collapse_tv" class="btn btn-primary" data-toggle="collapse">See Crew</a>
                      <div id="crew_collapse_tv" class="collapse">
                          <table class="table table-striped search-results">
                            <thead>
                            <th>Name</th>
                            <th>Department/Job</th>
                            </thead>
                            <tbody>
                            <tr class="search-result" ng-repeat="crewMember in show.credits.crew" ng-click="NavigateToPerson(crewMember)" >
                                <td><img ng-if="crewMember.profile_path !== null" ng-src="http://image.tmdb.org/t/p/w300{{crewMember.profile_path}}" alt="{{castMember.character}}" /></td>
                               <td>{{crewMember.name}}</td>
                              <td>{{crewMember.department}} - {{crewMember.job}}</td>
                             </tr>
                         </tbody>
                    </table>
               </div>
            </div>
        </div>
    </div>
</div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Details</div>
                <div class="panel-body">
                <div class="table-responsive">
                 <table class="table">
                    <tr>
                    <td><b>Title:</b> </td><td style="text-align:right">{{show.name}}</td> 
                   </tr>
                   <tr>
                    <td><b>Released:</b> </td><td style="text-align:right"> {{show.first_air_date}} </td> 
                    </tr>
                    <tr>
                    <td><b>Runtime:</b> </td><td style="text-align:right"> {{show.runtime.toString()}} Minutes</td> 
                    </tr>
                    <tr>
                    <td><b>Genre:</b> </td><td style="text-align:right">{{show.genresString.toString()}} </td> 
                    </tr>
                    <tr>
                    <td><b>Language:</b> </td><td style="text-align:right">{{show.original_language}} </td>  
                    </tr>
                    <tr>
                    <td><b>Website:</b> </td><td style="text-align:right"> <a href="{{show.homepage}}" target="_blank">{{show.name}} Home Page</a> </td> 
                    </tr>
                
                </table>
                </div>
            </div>
        </div>
    </div> 
</div>
