<div class="template" ng-controller="TopRatedMoviesController">
    <div id="plot" class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped search-results">
                <thead>
                <th width="150"></th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Rating</th>
                </thead>
                <tbody>
                    <tr class="search-result" ng-repeat="topRatedMovie in topRatedMovies" ng-click="NavigateToMovie(topRatedMovie)" >
                        <td><img ng-if="topRatedMovie.poster_path !== null  || topRatedMovie.profile_path !== null" ng-src="http://image.tmdb.org/t/p/w300{{topRatedMovie.poster_path}}" alt="{{topRatedMovie.title}}" /></td>
                        <td>{{topRatedMovie.title}}</td>
                        <td>{{topRatedMovie.release_date}}</td>
                        <td>{{topRatedMovie.vote_average}} / 10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>