/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Feb-2016, 13:18:24
    Author     : MaherB
*/
* {
    text-shadow: none;
}
body {
    padding-top: 50px;
    font: 14px/15px Arial,sans-serif;
    background: #222;
}
#page-bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    position: fixed;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.template {
    padding: 40px 15px;
    text-align: center;
    opacity: 0.9;
    overflow: hidden;
}
#main-nav {
    background: #333;
    border-bottom: 2px solid #39F;
}
#main-nav li a:hover {
    background: #444;
    color: #FFF;
}
#main-nav li a {
    text-shadow: none;
}
#main-nav li.active > a {
    text-shadow: none;
    background: #39F;
    color: #FFF;
}
#new-films {
    background: #333; 
    border-radius: 5px;
    color: #FFF;
}
.thumbnail {
    height: 370px;
    background: #444;
    border: none;
}
.thumbnail .img {
    background: none no-repeat center center / contain;
    height: 120px;
    margin-top: 5px;
}
.thumbnail p:first-of-type {
    height: 120px;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.ui-autocomplete {
    z-index: 99999;
}
.ui-autocomplete .ui-menu-item {
    /* border-radius: 5px; */
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
    font-weight: normal;
}
#plot img {
    max-width: 100%;
}
.search-result {
    cursor: pointer;
}
.search-result img {
    max-height: 100px;
}
.search-results th {
    text-align: center;
}
.thumbnail {
    cursor: pointer;
}
.panel-body {
    border-radius: 5px;
}
.panel-heading + .panel-body {
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
